
body{

    background-image: url("img/dark.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
}
.nav-item{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    
    
}
.nav-item:hover::after{
content:'';
height: 2px;
width: 100%;
background-color: rgb(252, 248, 6);
position: absolute;
bottom: 0;
left: 0;
}

.Menus_Digital{


}


